<header class="p-3 bg-dark text-white">
    <div class="container">
        <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-3 text-white">Поставшики</a></li>
            <li><a href="/product_directory" class="nav-link px-3 text-white">Товары у поставщиков</a></li>
            <li><a href="/request_from_buyers" class="nav-link px-3 text-white">Заявки от покупателей</a></li>
            <li><a href="/order" class="nav-link px-3 text-white">Заказы</a></li>
            <li><a href="#" class="nav-link px-3 text-white">About</a></li>
        </ul>
    </div>
</header>