<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/static/product" class="nav-link">Продукты</a></li>
        <!-- <li class="nav-item"><a href="/static/supplier" class="nav-link">Поставщики</a></li> -->
        <!-- <li class="nav-item"><a href="/static/buyer" class="nav-link">Покупатели</a></li> -->
        <li class="nav-item"><a href="/static/top_10_product" class="nav-link">TOP 10 Товар</a></li>
        <li class="nav-item"><a href="/static/10_nice_supplier" class="nav-link">10 Дешевый поставщик</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
</header>